@import url(https://fonts.google.com/specimen/Figtree);
.page{
    background-color: hsl(47, 88%, 63%);
    display:flex;
    justify-content: center;
}
.diagram{
    margin:auto;
    border:8px;
    border-radius: 10px;
    border-top:6px;
    border-left: 4px;
    border-right: 4px;
    height:auto;
}
.picture{
    margin: 100px auto;
    margin-top: 140px;
    margin-bottom:100px ;
    padding:10px;
    border-radius: 10px;
    border-top: 10px;
    border-bottom: 8px;
    display:flex;
    flex-direction:column;
    background-color:hsl(0, 0%, 100%);
    justify-content: center;
    gap: 0.3rem;
    height: fit-content;
    box-sizing: border-box;
    box-shadow:  10px 10px;
    outline-style:solid ;
    outline-color:hsl(0, 0%, 7%);
    position: absolute;
    bottom:0%;
    left:38%;
    
}
.content span{
    background-color: hsl(47, 88%, 63%);
    margin:3px;
    width:20%;
    padding:5px;
    border:5px;
    border-radius:3px;
    font-weight:400;
}
.date{
    display:block;
    padding-top:3px;
    padding-bottom:2px;
}
.heading{
    position:relative;
    top:-30px;
    font-weight:400;
    font-size:20px;
    padding-top: 0;
    padding-bottom: 0;
}
.paragraph{
    padding-bottom:2px;
    font-weight:4px;
    color:hsl(0, 0%, 50%);
    display:inline;
    position:relative;
    top:-45px;
}
.content{
    display:flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border:10px;
    border-radius: 10px;
}
@media only screen and (max-width:400px) {
}
.name{
    position:absolute;
    padding-left:8px ;
}
.profile{
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}